// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.noncas{
    text-transform: none;
}
#rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-width: 1px;

}

.btn{
    display:block;
    width:30px;
    height:30px;
    line-height:32px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #DC143C;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.btnno{
      display:block;
      width:30px;
      height:30px;
      line-height:32px;
      border: 2px solid #f5f5f5;
      border-radius: 50%;
      color:#f5f5f5;
      text-align:center;
      text-decoration:none;
      background:#696969;
      box-shadow: 0 0 3px gray;
      font-size:20px;
      font-weight:bold;
  }